* {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.scss";
@import "./font.scss";
@import "./responsive.scss";

img {
  width: 100%;
  object-fit: cover;
}

.button-common {
  &-primary {
    background-color: #0048bd !important;
    p {
      color: #fff !important;
    }
    &:focus {
      background-color: #0048bd !important;
      p {
        color: #fff !important;
      }
    }
    &:active,
    &:hover {
      background-color: #0048bd !important;
    }
  }

  &-primary-white {
    background-color: #0048bd !important;
    p {
      color: #fff !important;
    }
    &:focus {
      background-color: #e6efffd9 !important;
      p {
        color: #000 !important;
      }
    }
    &:active,
    &:hover {
      background-color: #e6efffd9 !important;
      p {
        color: #000 !important;
      }
    }
  }

  &-secondary {
    background-color: #fff !important;
    p {
      color: #000 !important;
    }
    &:focus {
      background-color: #e6efff !important;
      p {
        color: #000 !important;
      }
    }
    &:active,
    &:hover {
      background-color: #e6efff !important;
    }
  }
}
